{% extends 'base.html' %}

{% block title %}Java{% endblock %}

{% block content %}
<header>
    <h4>Java</h4>
</header>
<section class="links">
    <h4>Important Courses</h4>
    <a href="http://simplilearn.com/learn-apache-spark-basics-free-course-skillup#will-i-get-a-certificate-after-completing-the-spark-free-course">SimpliLearn Spark Course</a>
    <a href="https://www.udemy.com/course/sparkstarterkit/?LSNPUBID=JVFxdTr9V80&ranEAID=JVFxdTr9V80&ranMID=39197&ranSiteID=JVFxdTr9V80-1CsewtvriY0Ji.kDlcoJpw&utm_medium=udemyads&utm_source=aff-campaign">Udemy Starter Course</a>
    <a href="http://data-flair.training/apache-spark-scala/">DataFlair Certification Spark</a>
</section>
{% endblock %}
